<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="basic.Account">
      <methods>
      <include name="savingAccount"></include>
      </methods>
      </class>
      <class name="basic.Payment"/>
       <class name="basic.MyTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
    <classes>
      <class name="basic.Account">
      <methods>
      <exclude name="laonAccount"></exclude>
      </methods>
      </class>
      <class name="basic.MyTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
